<div class="col-sm-3">
  <div class="card">
    <%= image_tag event_category.image, class: 'card-img-top' %>
    <div class="card-block">
      <p class="card-text">
        <%= link_to event_category.name, controller: "events", action: "index", interest: event_category.category_id %></p>

      </p>
    </div>
  </div>
</div>