<% provide(:title, @title) %>

<%= render 'shared/user_info' %>

<h3><%= @title %></h3>

<div class="span8">
  <% if @users.any? %>
    <ul class="uk-list">
      <%= render @users %>
    </ul>
    <%= will_paginate %>
  <% end %>
</div>
