
<% if events && events.any? %>

  <% if @interest %>
    <%= will_paginate %>
  <% end %>

  <div class="uk-margin-large-top uk-section uk-section-secondary uk-section-small teal">
    <% if @interest %>
      <h2 class="uk-heading-bullet uk-text-center"><%= @interest.name %> Events</h2>
    <% else %>
      <h2 class="uk-heading-bullet uk-text-center"><span><%= title %></span></h2>
    <% end %>
  </div>

  <div class="events-list uk-child-width-1-1" uk-grid>

    <%= render partial: 'events/event', collection: events %>

  </div>

<% end %>
