
<% if events && events.any? %>

  <% if @interest %>
    <%= will_paginate %>
  <% end %>

  <% if @interest %>
    <h3 class="uk-heading-divider"><%= @interest.name %> Events</h3>
  <% else %>
    <h3 class="uk-heading-divider"><%= title %></h3>
  <% end %>

  <div class="events-list uk-child-width-1-1" uk-grid>

    <%= render partial: 'events/event', collection: events %>

  </div>

<% end %>
