<% if @upcoming_events.any? %>

  <h2 style="text-align:left;">Upcoming events</h2>
  <br>
  <div class="heading-break"></div>
  <div class="uk-flex uk-grid-large uk-child-width-expand@s uk-text-center" uk-grid>
    <%= render partial: 'events/event', collection: @upcoming_events %>
  </div>

  <% unless @all_events %>
    <%= link_to "View all upcoming events.", "upcoming" %>
  <% end %>

<% end %>