<% provide(:title, 'Events') %>
<% if @interest %>

  <h4><%= @interest.name %> Events</h4>
  <hr>
<% end %>

<table class="uk-table uk-table-small uk-table-middle uk-table-divider uk-table-hover">

  <thead class="uk-text-center">
  <tr>
    <th class="uk-table-shrink"></th>
    <th class="uk-text-center">Event</th>
    <th class="uk-text-center">Hosted By</th>
    <th class="uk-text-center">Category</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody class="uk-text-center">

  <%= render @events %>
  </tbody>
</table>
