<% provide(:title, 'Donation') %>
<h2 class="uk-heading-divider">Donation</h2>
<p>

Hello <%= current_user.name %>, Group Up is a community running purely of
 donations and sponsors and as you can see, our site does not have ads.  Please help support our community
by making a donation: </p>

<form method="post">
  <div class="uk-margin-bottom">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="uk-input" id="email" placeholder="name@example.com">
  </div>
  <div class="uk-margin-bottom">
    <label for="donationamount">Donation amount</label>
    <select class="uk-select" id="exampleFormControlSelect1">
      <option>$25</option>
      <option>$50</option>
      <option>$100</option>
      <option>$200</option>
      <option>$500</option>
      <option>Custom</option>
    </select>
  </div>
  <div class="uk-margin-bottom">
    <label for="exampleFormControlInput1">Custom donation amount</label>
    <input type="email" class="uk-input" id="customamount" placeholder="ex: $375">
  </div>

  <div class="uk-margin-bottom">
    <label for="exampleFormControlTextarea1">Your message to us</label>
    <textarea class="uk-textarea" id="message" rows="3"></textarea>
  </div>

  <div class="uk-margin-bottom">
    <label for="exampleFormControlInput1">Donation on behalf of</label>
    <input type="email" class="uk-input" id="onbehalf">
  </div>

  <%= button_to 'Donate', { controller: "pages", action: "donate" }, class: "uk-button uk-button-secondary teal" %>


</form>